.time-box {
  float: right;
  height: 60px;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
  padding: 0;
  position: relative;
  transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}
.time-box .time-function-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.time-box .time-function-icons li {
  display: inline;
  padding: 0 5px;
  font-size: 12px;
  cursor: pointer;
}
.time-box.disable {
  background: #fbfbfb;
  color: #ccc;
  border: 1px dashed #ddd;
}
.time-box.enable {
  background: #ffebe4;
  color: #ed5d2a;
}
.time-box.enable:hover, .time-box.enable.active {
  background: #ed5d2a;
  color: #fff;
}
.time-box.reserved {
  color: #66c000;
  background: #ecffe6;
  line-height: 60px;
}
.time-box.reserved:hover, .time-box.reserved.active {
  background: #66c000;
  color: #fff;
}
.time-box.reserving {
  color: #66c000;
  background: #ecffe6;
}
.edit-box, .edit-box:hover {
  background: #ed5d2a !important;
}
#input-price {
  background: transparent;
  border-bottom: 1px solid #ffebe4;
  width: 80%;
  color: #ffebe4;
  text-align: center;
}
.input-price .fas {
  color: #ffebe4 !important;
}
.loading-img {
  top: -1px;
  z-index: 5;
  position: relative;
  width: 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
