<button type="button" class="btn btn-success show-times-btn" data-toggle="modal" data-target="#reserveTableModal" (click)="comeToday()">
  مشاهده سانس ها
</button>

<div class="modal fade" id="reserveTableModal" tabindex="-1" role="dialog" aria-hidden='true'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>جدول رزرواسیون {{adminService.place_name}}</h3>
        <div class="currentDate">
          امروز:
          {{currentDate}}
        </div>
      </div>
      <div class="modal-body">
        <div class="loading" [ngClass]="{'hide': !loading}">
          <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
        </div>
        <div class="reserveTable ">
          <div class="reservePage active">
            <div class="row headRow">
              <div class="col headCol"></div>
              <div class="col" *ngFor="let day of days">
                {{day.name}}
                <span> {{day.date}} </span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="row" *ngFor="let item of timesArray; let i = index">
              <div class="col headCol">{{item}}</div>
              <ng-container *ngIf="times">
                <app-time *ngFor="let day of days; let j = index" [time]="times[(j * 16) + i]"></app-time>
              </ng-container>
              <!--<div class="col late pastDate">تاریخ گذشته</div>-->
              <div class="clear"></div>
            </div>
            <div class="buttons">
              <div class="comeToday" (click)="comeToday()">بازگشت به امروز</div>
              <div class="btn next" (click)="goToNextWeek()">هفته بعد <i class="fa fa-angle-left"></i></div>
              <div class="btn prev" (click)="goToPrevWeek()"><i class="fa fa-angle-right"></i> هفته قبل</div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


