<div class="background">
  <img src="assets/img/2.jpg" alt="">
  <div class="page-center-form" id="login">
    <form action="">
      <div class="form-group">
        <input type="text" class="form-control" id="usernameInput" placeholder="نام کاربری">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="passwordInput" placeholder="رمز عبور">
      </div>
      <div class="form-group" id="submit">
        <button type="submit" class="btn btn-green" id="submitInput">ورود</button>
      </div>
    </form>
  </div>
</div>
