<div class="background">
  <img src="assets/img/login-background.jpg" alt="">
  <div class="page-center-form" id="login">
    <form #form="ngForm" autocomplete="off" (submit)="form.valid && onSubmitLogin(form)">
      <div class="form-group">
        <input type="text" class="form-control" name="username" [(ngModel)]="formData.admin_username" placeholder="نام کاربری" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="formData.admin_password" placeholder="رمز عبور" required>
      </div>
      <span class="login-error-msg">
        {{error}}
      </span>
      <div class="form-group" id="submit">
        <button type="submit" class="btn btn-green">ورود</button>
      </div>
    </form>
  </div>
</div>
