.container.form-container {
  background-color: #fff;
  color: #35373a;
  min-height: auto;
  border-radius: .3rem;
  margin-bottom: 16px;
}
.refactor {
  padding: 40px;
}
.input-label {
  margin-left: 10px;
  font-size: 14px;
}
.styled-select, .styled-input {
  height: 29px;
  overflow: hidden;
  background-color: transparent;
  display: inline-flex;
}
.styled-select {
  width: 62%;
}
.styled-input {
  width: 54%;
}
.styled-select select, .styled-input input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #75757580;
  font-size: 14px;
  height: 29px;
  color: #757575;
  width: 100%;
  -webkit-appearance: none;
}
.input-label {
  width: 38%;
}
select::-ms-expand {
  display: none;
}
.styled-select select option {
  color: #000;
  padding-right: 5px;
}
.styled-select select.selected, .styled-input input.selected {
  color: #000 !important;
}
.col-md-3 {
  margin-bottom: 30px;
}
.do-refactor-btn {
  padding: 4px 10px;
  left: 0;
  position: relative;
}
.form-error-msg {
  color: red;
  position: relative;
  top: -10px;
  font-size: 11px;
}
