<div class="col time-box" *ngIf="!box_edit_state" [ngClass]="{'disable': !box_state['enable'], 'not-reserved': box_state['enable'] && !box_state['reserved'], 'reserved': box_state['enable'] && box_state['reserved']}">
    <b class="time-price" *ngIf="!box_state['enable']">غیر فعال</b>
    <b class="time-price" *ngIf="box_state['enable']">
      <span *ngIf="time.time_price">{{time.time_price}}</span>
    </b>
    <ul class="time-function-icons">
      <li *ngIf="box_state['enable'] && !box_state['reserved']" (click)="enableEditState()"><i class="fa fa-edit"></i></li>
      <li *ngIf="!box_state['enable']" (click)="enableTime()"><i class="fa fa-play"></i></li>
      <li *ngIf="box_state['enable'] && !box_state['reserved']" (click)="disableTime()"><i class="fa fa-power-off"></i></li>
    </ul>
</div>

<div class="col time-box edit-box" *ngIf="box_edit_state" [ngClass]="{'disable': !box_state['enable'], 'not-reserved': box_state['enable'] && !box_state['reserved'], 'reserved': box_state['enable'] && box_state['reserved']}">
    <input type="text" id="input-price" autocomplete="off" [(ngModel)]="new_price">
    <ul class="time-function-icons input-price">
      <li (click)="updateTime()" *ngIf="new_price !== time.time_price"><i class="fas fa-check"></i></li>
      <li (click)="box_edit_state = false"><i class="fas fa-times"></i></li>
    </ul>
</div>
