b, strong {
  font-weight: bold;
}
.container .wrapper {
  width: 100%;
}
.row.row-wider {
  margin: 0 -10px;
}
.profile {
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-flex;
}
.profile .profile-image {
  margin-bottom: 20px;
  position: relative;
}
.profile .profile-image img {
  width: 120px;
  height: 120px;
  border: 3px solid #1fda6a;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  vertical-align: middle;
}
.profile .profile-info {
  margin-right: 12px;
  position: relative;
}
.profile .profile-info h3 {
  padding-left: 25px;
}
.profile .profile-info .logout {
  cursor: pointer;
}
.profile .profile-info .logout i {
  color: red;
  position: absolute;
  top: 10px;
  left: 0;
}
.profile .profile-info span {
  font-size: 12px;
  color: #999;
}
.profile .profile-info .base-price {
  padding: 6px 12px;
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: .25rem;
  bottom: 32px;
  position: absolute;
  left: 0;
  font-size: 12px;
}
