<div class="container">
  <div class="header" style="height: 100px; width: 100%;"></div>
  <div class="wrapper">
    <div class="row row-wider">
      <div class="col-md-6">
        <div class="profile margin-bottom-0">
          <div class="profile-image">
            <img src="https://varzeshir.com/uploads/trademarks/property-36.jpg?1541842829">
          </div>
          <div class="profile-info">
            <h3>مجموعه ورزشی هلال احمر</h3>
            <a class="logout">
              <i class="fa fa-power-off"></i>
            </a>
            <span><i class="fa fa-map-marker-alt" style="margin-left: 5px;"></i>زنجان، هنرستان، پلاک 169</span>
            <app-time-table style="position: relative; display: flex; margin-top: 12px;"></app-time-table>
            <div class="base-price">قیمت پایه : 50000</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>
    <div class="divider" style="height: 60px; width: 100%;"></div>
    <div class="row">
      <div class="col-md-4">
        <app-place-facilities [place_id]="place_id"></app-place-facilities>
      </div>
      <div class="col-md-8">
        <app-place-album></app-place-album>
      </div>
    </div>
  </div>
</div>
