<div class="container album-container">
  <div class="album">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a class="imgbox">
          <img src="assets/img/bridge.jpg" alt="Bridge">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="imgbox">
          <img src="assets/img/tunnel.jpg" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="imgbox">
          <img src="assets/img/park.jpg" alt="Park">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="imgbox add-image">
          <input type="file" name="image1" id="image1" accept=".gif, .jpg, .png" />
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
  </div>
</div>
